*{
    margin: 0;
    box-sizing: border-box;
}

.front{
    margin-top: 50px;
}

.vertical {
    border-left: 5px solid black;
    height: 100%;
    position: fixed;
    left: 5;
}

table{
    width: 100%;
    color: black;
}

.information{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

h1{
    font-size: 60px;
}

h2, h3{
    color: black;
    padding: 20px 0 20px 20px;
}

p{
    padding: 20px 20px 20px 20px;
    color: black;
}

.line{
    width: 100%;
    height: 3px;
    background-color: black;
}

.jumbotron{
    padding: 60px;
    background-color: white;
    color: black;
}

nav{
    background-color: white;
    padding: 20px 0 0 0;
    position: sticky;
    top: 0;
    text-align: center;
}

nav ul{
    margin-bottom: 20px;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

nav a{
    color: black;
    text-decoration: none;
}

a{
    color: black;
}

a:hover{
    color: black;
}

nav a:hover{
    font-weight: bolder;
    color: black;
}

main{
    overflow: auto;
}

header{
    display: inline;
}

.card {
    background-color: white;
    
}

footer{
    padding: 20px;
    color: black;
    background-color: white;

    text-align: center;
    font-weight: bold;
}

.featured-image {
    width: 100%;
    max-height: 350px;
    padding: 20px;
    border-radius: 50%;

    /* max-width: 280px;
    height: 100%; */


    object-fit: cover;
    object-position: center;
}

.profile header{
    text-align: center;
}

#content{
    float: right;
    width: 75%;
}

aside{
    float: right;
    width: 25%;
    /* padding-right: 20px; */
}

@media screen and (max-width: 1000px) {
    #content, aside{
        width: 100%;
        padding: 0;
    }
}

